<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extensionPointCRefactoring" name="extensionPointCRefactoring" schema="schema/extensionPointCRefactoring.exsd"/>
   <extension
         id="id1"
         name="RefactorArea"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.codeRefactoring.TestView"
            icon="icon.png">
      </view>
   </extension>

</plugin>
